button.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: none;
    background-color: inherit;
    font-size: 2rem;
    color: #9b9b9b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    /* TODO: Click effect */
    /* TODO: Rounded hover */
}