article.card {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: calc(33.3% - 3rem);
    min-height: 10rem;
    text-align: center;
    text-wrap: wrap;
    overflow-wrap: break-word;
    padding: 1rem;
    box-shadow: 0px 2px 3px 2px #dedede;
    background-color: #ffffff;
    color: #5b5b5b;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    margin-inline: .5rem;
    margin-block: 1rem;
    scroll-margin-inline: .5rem;
    border-radius: 4%;
}

article.card button.remove {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: inherit;
    font-size: 1.5rem;
    color: #9b9b9b;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

article.card:hover button.remove {
    display: block;
}

article.card button.ripple {
    background-position: center;
    transition: background 0.5s;
}
article.card button.ripple:hover {
    background: #e0e4e4 radial-gradient(circle, transparent 1%, #e0e4e4 1%) center/15000%;
}
article.card button.ripple:active {
    background-color: #c6c9c9;
    background-size: 100%;
    transition: background 0s;
}