article.card {
    --space-between-cards: .5rem;
    --card-padding: 1rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-height: var(--card-height);
    text-align: center;
    text-wrap: wrap;
    overflow-wrap: break-word;
    padding: var(--card-padding);
    box-shadow: 0px 2px 3px 2px #dedede;
    background-color: #ffffff;
    color: #552e2e;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    margin-inline: var(--space-between-cards);
    margin-block: 1rem;
    scroll-margin-inline: var(--space-between-cards);
    border-radius: 4%;
}

article.card button.remove {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: inherit;
    font-size: 1.5rem;
    color: #9b9b9b;
}

article.card:hover button.remove {
    opacity: 100%;
}

article.card button.add {
    position: absolute;
    top: 0;
    right: calc(-2 * var(--space-between-cards));
    border: 0;
    color: #9b9b9b;
    height: calc(var(--card-height) + (2 * var(--card-padding)));
    width: var(--space-between-cards * 2);
    z-index: 100;
    opacity: 0;
}

article.card button.add:hover {
    opacity: 100%;
}