article.card {
    display: inline-block;
    vertical-align: middle;
    width: calc(33.3% - 3rem);
    min-height: 10rem;
    text-align: center;
    text-wrap: wrap;
    overflow-wrap: break-word;
    padding: 1rem;
    box-shadow: 0px 2px 3px 2px #dedede;
    background-color: #ffffff;
    color: #5b5b5b;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    margin-inline: .5rem;
    margin-block: 1rem;
    scroll-margin-inline: .5rem;
    border-radius: 4%;
}